.content_container {
  padding: 10px;
  max-width: 100vw;
}

@media screen and (min-width: 750px) {
  .content_container {
    margin: 0px 100px;
  }
}

.content_container h3 {
  padding-top: 20px;
}

.content_row {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

header.header {
  /* text-align: center; */
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: var(--neutral-background);
}

.header h1 {
  padding: 1rem;
}

.navbar {
  background-color: var(--primary-accent-background);
}

.navbar_item:hover {
  background-color: var(--primary-accent-background-two);
}

.navbar_dropdown {
  background-color: var(--primary-accent-background-two);
}

.navbar_dropdown:hover {
  background-color: var(--primary-accent-background);
}
